<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOCKEY_API_KEY</key>
	<string>daaac5a6c4654c65ac0f652eecec166e</string>
	<key>CXENSE_API_KEY</key>
	<string>api&amp;user&amp;O86f7gCjQT/IxDs+AWczGA==</string>
	<key>CXENSE_API_USERNAME</key>
	<string>anver.bogatov@cxense.com</string>
</dict>
</plist>
