<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOCKEY_API_KEY</key>
	<string>[PUT YOUR HERE]</string>
	<key>CXENSE_API_KEY</key>
	<string>[PUT YOUR HERE]</string>
	<key>CXENSE_API_USERNAME</key>
	<string>[PUT YOUR HERE]</string>
</dict>
</plist>
